.joinCtainer {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 50%;
  margin-top: 50px;
}

.joinCtainer form {
  width: 50%;
  margin: 0 auto;
  margin-top: 10px;
  background-color: #D7DDD2;
  border-radius: 10px;
  padding: 20px;
  box-sizing: border-box;
}

.joinCtainer > h2 {
  text-align: center;
}

.joinCtainer ul {
  list-style: none;
}

.joinCtainer li {
  width: 90%;
}




