
*{
  padding: 0;
  margin: 0;
}

.joinContainer {
  width: 500px;
  margin: 0 auto;
}

.joinContainer > h2 {
  text-align: center;
  margin-top: 40px;
}

.joinContain {
  padding: 30px;
  background-color: #eee;
  border-radius: 10px;
  box-sizing: border-box;
  margin-top: 10px;
}

.joinUl li{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  overflow: hidden;
}

.joinUl li > label {
  flex: 1;
}
.joinUl li input, .userAddress {
  flex: 3;
  width: 263px;
  height: 32px;
}
.joinUl li button {
  flex: 1;
  margin-left: 10px;
}

.li07 {

}

.userPasswordUl li input{
  display: flex;
  flex-direction: column;
  width: 352px;
}

.li04 input {
  width: 352px;
}

.userSexContainer {
  display: flex;
  align-items: row;

}









