

.benefitContainer{
  border: 1px solid gray;
  width: 800px;
  height: 660px;
}









.gradeContainer{
  display: flex;
  justify-content: space-around;

}


/* DFF5FF */

.grade{
  display: flex;
  flex-direction: column;
  width: 26%;
  
}


.Icon{
  width: 6%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}


.Icon2{
  width: 6%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 25px;
}