.benefitContainer {
  margin-left: 39%;

}


.benefitGuide{
  border: 1px solid gray;
  width: 480px;
  height: 50%;

}






.gradeContainer{
  position: relative;
}


/* DFF5FF */

.grade{
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: 50%;
  position: absolute;
  top: 0;
  
}