@font-face {
  font-family: 'goorm-sans-bold';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408@1.0/goorm-sans-bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

.modal-container {
    text-align: center;
    margin-top: 50px;
  }
  
  .open-modal-button {
    padding: 10px 20px;
    font-size: 10px;
    cursor: pointer;
  }
  
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .modal-content {
    position: relative;
    background: white;
    padding: 20px;
    max-width: 500px;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .openModalBtn {
    margin-top: 20px;
    padding: 10px 15px;
    font-size: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #67C6E3;
    color: #fff;
    font-family: 'goorm-sans-bold';
  }

  .openModalBtn:hover {
    background-color: #1478FF;
  }

  .commandModalBtn {
    margin-top: 20px;
    padding: 10px 15px;
    font-size: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #67C6E3;
  }

  .qnaModalTotal > h2 {
    margin-top: 20px;
  }
  
  textarea {
    width: 75%;
    height: 180px;
    resize: none;
    border-radius: 5px;
    margin-top: 20px;
    padding: 20px;
  }
  
  .modalBtn {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }
  
  .commandModalBtn {
    font-family: 'goorm-sans-bold';
    color: white;
    width: 100px;
  }

  .commandModalBtn:hover {
    background-color: #1478FF;
  }

  .qnaModalTotal {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .qnaFooter  {
    padding: 12px;
    box-sizing: border-box;
    background-color: #dff5ff98;
    margin-top: 30px;
    border-radius: 5px;
  }

  .qnaFooter > p {
    font-size: 10px;
    font-family: 'goorm-sans-bold';
    font-weight: 100;
    color: rgb(122, 122, 122);
  }
  
  .qnaFooter > h5 {
    color: rgb(122, 122, 122);
  }