.currentProductContainer h2{
  margin-left: 750px;
}




.imagesFlexBox{
  display: flex;
  justify-content: space-around;
  margin-left: 190px;
  padding-top: 50px;
  padding-left: 12px;
}

.imageBox{
  width: 290px;
}


.imageBox img{
  width: 285px;
  height: 290px;
  border-radius: 5px;
}


.imageBox p{
  color: darkgray;
  font-size: 16px;
}



.imageBox button{
  background-color: white;
  border: none;
}



