.currentProductContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 100px;
  margin-top: 70px;
}


.currentProductContainer > h2{
    margin-right: 50px;
}



.imagesFlexBox{
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
  margin-right: 85px;
  width: 980px;

}

.imageBox{
  width: 200px;
}


.imageBox img{
  width: 200px;
  height: 225px;
  border-radius: 5px;
}


.imageBox p{
  color: darkgray;
  font-size: 13px;
}


.imageBox h3{
  font-size: 25px;
}

.imageBox button{
  background-color: white;
  border: none;
}



