*{
margin: 0;
padding: 0;
}

.totalCart {
  width: 70%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 80px;
}

.cartContainer {
  width: 100%;
  margin: 0 auto;
}

.cartContainer .cartButton {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  margin-top: 30px;
  border: none;
  border-radius: 5px;
}

.cartButton > button {
  cursor: pointer;
}

.cartContainer > ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  list-style: none;
  margin: 0 auto;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
}

.cartContainer > ul > li {
  display:  flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  border-bottom: 1px solid #eee;
}

.cartCheckbox{
  margin-right: 10px;
}

.productAmount {
  width: 40px;
  height: 20px;
  text-align: center;
}

.cartContainer img{
  width: 25%;
}

.totalContainer {
  margin: 0 auto;
  margin-top: 50px;
  background-color: #D7DDD2;
  width: 100%;
  height: 60px;
  line-height: 60px;
  padding: 5px 25px;
}

.totalCart ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  margin: 0 auto;
  margin-top: 5px;
}

.processBtn {
  width: 200px;
  display: flex;
  justify-content: space-around;
  gap: 20px;
  align-items: center;
  margin: 0 auto;
  margin-top: 30px;
}

.processBtn > button {
  cursor: pointer;
  width: 150px;
  height: 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}