@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

*{
margin: 0;
padding: 0;
}

.totalCart {
  width: 900px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 80px;
}

.cartContainer {
  width: 100%;
  margin: 0 auto;
}

.cartContainer .cartButton {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  margin-top: 30px;
  border: none;
  border-radius: 5px;
}

.cartButton > button {
  width: 90px;
  cursor: pointer;
  margin-bottom: 10px;
  background-color: #67C6E3;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 5px;
  box-sizing: border-box;
}

.cartButton > button:hover {
  background-color: #1478FF;
}

.cartContainer > ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  list-style: none;
  margin: 0 auto;
  border-top: 1.2px solid #67C6E3;
  border-bottom: 1.2px solid #67C6E3;
}

.cartContainer > ul > li {
  display:  flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  border-bottom: 1px solid #DFF5FF;
  font-family: 'Pretendard-Regular';
}

.cartCheckbox{
  margin-right: 10px;
}

.productAmount {
  width: 40px;
  height: 20px;
  text-align: center;
}

.cartContainer img{
  width: 25%;
}

.totalContainer {
  margin: 0 auto;
  margin-top: 50px;
  background-color: #DFF5FF;
  width: 100%;
  height: 60px;
  line-height: 60px;
  padding: 5px 25px;
  font-family: 'Pretendard-Regular';
  border-radius: 5px;
}

.totalCart ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  margin: 0 auto;
}

.processBtn {
  width: 200px;
  display: flex;
  justify-content: space-around;
  gap: 20px;
  align-items: center;
  margin: 0 auto;
  margin-top: 30px;
}

.processBtn > button {
  font-family: 'Pretendard-Regular';
  cursor: pointer;
  width: 150px;
  height: 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #67C6E3;
  color: white;
}

.processBtn > button:hover {
  background-color: #1478FF;
}