@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'goorm-sans-bold';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408@1.0/goorm-sans-bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}


*{
margin: 0;
padding: 0;
}

.totalCart {
  width: 900px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 80px;
}

.cartContainer {
  width: 100%;
  margin: 0 auto;
}

.cartContainer .cartButton {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  margin-top: 30px;
  border: none;
  border-radius: 5px;
}

.cartButton > button {
  width: 90px;
  cursor: pointer;
  margin-bottom: 10px;
  background-color: #67C6E3;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 5px;
  box-sizing: border-box;
}

.cartButton > button:hover {
  background-color: #1478FF;
}

.cartList {
  display: flex;
  flex-direction: column;
  width: 900px;
  list-style: none;
  margin: 0 auto;
  border-top: 1.2px solid #67C6E3;
  border-bottom: 1.2px solid #67C6E3;
}

.cartLi {
  display:  flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0px;
  padding: 0px 20px;
  border-bottom: 1px solid #DFF5FF;
  font-family: 'Pretendard-Regular';
  box-sizing: border-box;
}

.cartCheckbox{
  margin-right: 10px;
}

.productAmount {
  width: 40px;
  height: 20px;
  text-align: center;
}

.cartImage {
  width: 25%;
}

.totalContainer {
  align-items: center;
  margin: 0 auto;
  margin-top: 50px;
  border: 5px solid #DFF5FF;
  width: 900px;
  height: 130px;
  padding: 5px 25px;
  font-family: 'Pretendard-Regular';
  border-radius: 10px;
  box-sizing: border-box;
}

.totalContainerUl {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  margin: 0 auto;
  text-align: center;
  display: flex;
  align-items: center;
}

.totalPrice, .deliveryFee {
  flex: 1;
  width: 30%;
  height: 110px;
  font-size: 15px;
  padding: 20px;
  line-height: 45px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.deliveryFee {
  border-left: 3px solid #DFF5FF;
  border-right: 3px solid #DFF5FF;
}

.wonPrice > span {
  font-family: 'goorm-sans-bold';
  font-size: 30px;
}

.processBtn {
  width: 340px;
  display: flex;
  justify-content: space-around;
  gap: 20px;
  align-items: center;
  margin: 0 auto;
  margin-top: 30px;
}

.processButton {
  font-family: 'Pretendard-Regular';
  cursor: pointer;
  width: 150px;
  height: 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #67C6E3;
  color: white;
}

.processButton:hover {
  background-color: #1478FF;
}