.surveyContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  width: 25%;
  margin: 0 auto;
}

.surveyContainer h3 {
  margin: 20px 0;
}

.surveyContainer h5 {
  margin-bottom: 20px;
}

.surveyList {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  list-style-type: none;
  line-height: 30px;
  margin-bottom: 20px;
}

.surveyList li {
  font-size: 15px;
  margin: 10px 0;
  padding: 10px 20px;
  background-color: #e3e7e0;
  width: 100%;
  height: 30px;
  border-radius: 5px;
  cursor: pointer;
}

.surveyList li:hover {
  background-color: #f0f2ee;
  box-shadow: 1px 1px 6px #bababa;
}

.surveyBtn button{
  cursor: pointer;
  background-color: #67C6E3;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px;
}

.surveyBtn button:hover {
  background-color: #DFF5FF;
}

.surveyNextBtn {
  float: right;
  width: 50px;
  height: 30px;
  font-size: 15px;
  margin: 10px 0;
  padding: 20px 30px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.surveySkipBtn {
  width: 100%;
  height: 50px;
  font-size: 15px;
  margin: 10px 0;
  padding: 10px 20px;
  box-sizing: border-box;
}