.nonMemberContainer h2{
  text-align: center;
}

.nonMemberFormContainer{
  display: flex;
  justify-content: space-around;
  width: 300px;
  margin-left: 40%;
}


.nonMemberData{
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.nonMemberInput{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}