@font-face {
  font-family: 'goorm-sans-bold';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408@1.0/goorm-sans-bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}


.mypagNavContainer {
  display: flex;
  align-items: center;
}

.myPageNavDiv {
  background-color: #DFF5FF;
  width: 110px;
  line-height: 25px;
  padding: 15px;
  border-radius: 5px;
  height: 400px;
  display: flex;
  box-sizing: border-box;
}

.myPageNavBox{
  display: flex;
  flex-direction: column;;
  list-style: none;
  font-family: 'goorm-sans-bold';
  height: 400px;
  margin: 0 auto;
}

.mypageMenue{
  color: #666;
  font-size: 11px;
}
.mypageNavTitle {
  font-size: 14px;
}

.mypageNavLine {
  width: 90px;
  border: 1px solid #86919664;
  margin: 10px 0px;
}

