.myPageNavBox{
  display: flex;
  flex-direction: column;
  background-color: #e9ece7;
  width: 15%;
  line-height: 40px;
  padding: 20px;
  margin-left: 5%;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 11px;
  z-index: 10;
  position: absolute;
  top: 300px;
}

.myPageNavBox ul {
  list-style: none;
}
