@font-face {
  font-family: 'goorm-sans-bold';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408@1.0/goorm-sans-bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}


.mypagNavContainer {
  margin: 0 auto;
  margin-top: 100px;
  margin-left: 10%;
  display: flex;
  align-items: center;
}

.myPageNavBox{
  display: flex;
  flex-direction: column;
  background-color: #DFF5FF;
  width: 110px;
  line-height: 40px;
  padding: 20px;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 11px;
}
  
.myPageNavBox ul {
  list-style: none;
  font-family: 'goorm-sans-bold';
  text-align: center;
}
