.ReviewWriteContainer {
  margin: 0 auto;
  margin-top: 100px;
  width: 50%;
  display: flex;
  flex-direction: column;
  border: 1px solid #eee;
}

.ReviewWriteContainer h2 {
  text-align: center;
}

.ReviewStar {
  display: flex;
  gap: 10px;
  margin: 0 auto;
  margin-top: 20px;
}

.formContainer {
  margin-top: 20px;
}

.ReviewWriteTitleDiv {
  display: flex;
  align-items: center;
}

.ReviewWriteTitle {
  width: 75%;
  
}

.ReviewWriteContentDiv {
  margin-top: 10px;
  display: flex;
  align-items: flex-start;
}

.ReviewWriteContent label {
  margin-right: 10px;
}

.ReviewWriteContent {
  width: 80%;
  height: 200px;
  resize: none;
  border-radius: 5px;
}

.ReviewWriteContentDiv label {
  font-size: 10px;
}
.ReviewWriteTitleDiv label {
  font-size: 10px;
}

.ImgContainer {
  display: flex;
  gap: 10px;
  align-items: flex-start;
  margin-left: 30px;
  margin-top: 10px;
}

.ImgContainerDiv {
  width: 70px;
  height: 70px;
  border: 1px solid #eee;
  margin-top: 10px;
}

.ReviewWriteBtn {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}

.ReviewWriteBtn button {
  width: 50px;
  height: 35px;
}

.ReviewWriteBtn {
  margin: 0 auto;
  margin-top: 30px;
}