@font-face {
  font-family: 'goorm-sans-bold';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408@1.0/goorm-sans-bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

.ReviewWriteContainer {
  margin: 0 auto;
  margin-top: 60px;
  width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

.ReviewWriteTitleDiv {

}

.ReviewWriteContainer h2 {
  text-align: center;
}

.ReviewStar {
  display: flex;
  gap: 10px;
  margin: 0 auto;
  margin-top: 20px;
}

.formContainer {
  margin-top: 20px;
}

.ReviewWriteTitleDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #67C6E3;
  width: 500px;
  height: 35px;
  padding: 0px 20px;
  box-sizing: border-box;
  border-radius: 5px;
}

.titleLine {
  font-size: 17px;
  color: #67C6E3;
}

.ReviewWriteTitleDiv > label {
  font-size: 13px;
}


.ReviewWriteTitle {
  width: 400px;
  border: none;
  height: 20px;
  outline: none;
  font-size: 12dpx;
}



.filebox label {
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
  vertical-align: middle;
  background-color: #999999;
  cursor: pointer;
  height: 40px;
  margin-left: 10px;
}

.ReviewWriteContent {
  width: 500px;
  height: 200px;
  resize: none;
  border-radius: 5px;
  border: 1px solid #67C6E3;
  box-sizing: border-box;
}


.ImgContainer {
  width: 500px;
  display: flex;
  gap: 10px;
  align-items: flex-end;
  justify-content: flex-start;
  margin-top: 10px;
}

.ImgContainerDiv {
  width: 70px;
  height: 70px;
  border: 1px solid #c1c1c1;
  margin-top: 10px;
}

.ReviewWriteBtn {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}

.ReviewWriteBtn button {
  width: 50px;
  height: 35px;
}

.ReviewWriteBtn {
  margin: 0 auto;
  margin-top: 30px;
}

.ReviewWriteBtn .reviewWritebtn {
  width: 180px;
  height: 40px;
  background-color: #67C6E3;
  border: none;
  border-radius: 5px;
  color: white;
  font-family: 'goorm-sans-bold';
  cursor: pointer;
}

.fileBox label {
  display: inline-block;
  padding: .5em .75em;
  color: #999;
  font-size: inherit;
  line-height: normal;
  vertical-align: middle;
  background-color: #fdfdfd;
  cursor: pointer;
  border: 1px solid #ebebeb;
  border-bottom-color: #e2e2e2;
  border-radius: .25em;
}

.fileBox input[type="file"] {  /* 파일 필드 숨기기 */
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip:rect(0,0,0,0);
  border: 0;
}
