@font-face {
  font-family: 'goorm-sans-bold';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408@1.0/goorm-sans-bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

.allProductbBox2 {
  width: 1000px;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-top: 60px; */
  font-family: 'goorm-sans-bold';
}

.allProductbBox2 > h2 {
  text-align: center;
}

.allProductButtonList {
  display: flex;
  justify-content: space-around;
  width: 300px;
  height: 20px;
  flex-direction: row;
  margin: 0 auto;
  list-style: none;
  margin-bottom: 40px;
}

.allProductButtonList button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
}
.allProductButtonList button:hover {
  cursor: pointer;
  border-bottom: 3px solid #DFF5FF;
}

.allProductButtonList button:active {
  color: #1478FF;
}

.allProductSelectBtn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  font-size: 11px;
  margin-bottom: 5px;
  width: 220px;
}

.allProductSelectBtn li > button {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  font-family: 'Pretendard-Regular';
  font-size: 1rem;
}

.allProductSelectBtn li > button:active {
  color: #1478FF;
}

.itemCotianer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: right;
}

/* List */
.reviewImageContainer {
  border-top: 3px solid #DFF5FF;
  border-bottom: 3px solid #DFF5FF;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.allProductImageList {
  margin: 10px auto;
}



.allProductContain {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 23%;
  height: 250px;
  margin: 20px auto;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

.allProductImage {
  width: 100%;
  border-radius: 8px;
}

.allProductImageList > h4 {
  display: flex;
  margin: 0 auto;
  margin-bottom: 30px;
}

.allProductHoverBtn{
  display: flex;
  flex-direction: column;
  gap: 15px;
  position: relative;
  top: -170px;
  right: -70px;
}

.allProductHoverBtn > button {
  padding: 5px;
  border: none;
  color: #1478FF;
  border-radius: 5px;
  cursor: pointer;
  background-color: #ffffff;
  font-family: 'Pretendard-Regular';
  font-weight: 600;
}

.allProductHoverBtn > button:hover {
  background-color: #67C6E3;
  color: #fff;
}

.pagination {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
  width: 200px;
}

