.allProductContainer {
  width: 60%;
  margin: 0 auto;
  box-sizing: border-box;
}

.allProductContainer > h2 {
  text-align: center;
  margin: 20px 0;
}

.allProductButtonList {
  display: flex;
  justify-content: space-around;
  width: 300px;
  flex-direction: row;
  margin: 0 auto;
  list-style: none;
  margin-bottom: 40px;
}

.allProductButtonList button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
}
.allProductButtonList button:hover {
  cursor: pointer;
  border-bottom: 3px solid #D7DDD2;
}

.allProductButtonList button:active {
  color: #9b9b9b;
}

.checkinSelect {
  display: flex;
  flex-direction: row;
  list-style: none;
  width: 160px;
  font-size: 11px;
  margin-bottom: 5px;
}

.checkinImage {

}

.itemCotianer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: right;
}

/* List */
.allProductImageContainer {
  border-top: 1px solid #868686;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.checkinContain {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 30%;
  height: 300px;
  margin: 20px auto;
  border-radius: 5px;
  border: 1px solid #868686;
  cursor: pointer;
}

.checkinContain > img {
  list-style: none;
  width: 100%;
}

.allProductImageList 

.allProductImageList h4 {
  display: flex;
  margin: 0 auto;
  margin-bottom: 30px;
}

.pagination {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
}

.allProductHoverButton {
  display: fl;
}


