.allProductContainer {
  width: 800px;
  margin: 0px auto;
  box-sizing: border-box;
}

.allProductContainer h2 {
  text-align: center;
  margin: 20px 0px;
}

.allProductButtonList button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

.allProductButtonList button:hover {
  cursor: pointer;
  border-bottom: 3px solid #D7DDD2;
}

.allProductButtonList button:active {
  color: #9b9b9b;
}

/* List */
.allProductImageList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.allProductImageList .reviewBox {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 200px;
  border: 1px solid #eee;
  border-radius: 5px;
  margin-bottom: 30px;
  overflow: hidden;
}

.allProductImageList img {
  list-style: none;
  width: 100%;
  display: flex;
  margin:  0 auto;
}

.allProductImageList img:hover .allProductHoverButton {
cursor: pointer;
}

.allProductImageList h4 {
  display: flex;
  margin: 0 auto;
  margin-bottom: 30px;
}

.pagination {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  margin: 20px auto;
}

.allProductHoverButton {
  position: relative;
  top: 35%;
  right: -30%;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  z-index: 10;
}


.productInform pre {
  padding: 5px;
  font-size: 10px;
}

.allrevieprofile {
  color: #9b9b9b;
}
