.chickenContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  margin: 0 auto;
}

.chickenContainer h2 {
  margin: 20px 0;
}

.checkinButtonList {
  display: flex;
  justify-content: space-around;
  width: 300px;
  flex-direction: row;
  margin: 0 auto;
  list-style: none;
  margin-bottom: 40px;
}

.checkinButtonList button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
}
.checkinButtonList button:hover {
  cursor: pointer;
  border-bottom: 3px solid #D7DDD2;
}

.checkinButtonList button:active {
  color: #9b9b9b;
}

/* checkinList.css */
.checkinImageList {
  display: flex;
  width: 900px;
  flex-direction: row;
  align-items: flex-end;
  flex-wrap: wrap;
  margin: 0 auto;
}

.checkinImageList div {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.checkinImageList img {
  list-style: none;
  width: 30%;
  display: flex;
  margin: 10px 15px;
}

.checkinImageList h4 {
  display: flex;
  align-items: center;
}

select {
  display: flex;
  flex-direction: column;
  align-items: column;
  width: 100px;
  border-radius: 5px;
}

option {
  border-radius: 5px;
}

.pagination {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
}

.checkinHoverButton {
  display: flex;
  justify-content: center;
  align-items: center;
}


