.banner01 {
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  
}
  
.banner02 .images {
  width: 90%;
  vertical-align: middle;
  display: flex;
}
  
.bannerImages {
  display: flex;
}

.banner02 {
  min-width: 100%;
}

.banner02 .images {
  width: 90%;
  vertical-align: middle;
  margin: 0 auto;
}

.prevClick, .nextClick {
  cursor: pointer;
  padding: 16px;
  color: black;
  font-weight: bold;
  font-size: 28px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

.nextClick {
  right: 0;
}



