.slider {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  margin-top: 10px;
}

.sliderImagesContainer {
  display: flex;
  text-align: center;
}

.sliderImage img {
  width: 65%;
}

.prev, .next {
  display: flex;
    cursor: pointer;
    width: auto;
    padding: 10px;
    margin-top: -8px;
    color: black;
    font-weight: bold;
    font-size: 16px;
    user-select: none;
    border: none;
    background-color: rgba(0, 0, 0, 0);
}

.sliderContainer{
  width: 80%;
  margin: 0 auto;
  margin-top: 60px;
}
.sliderContainer h3 {
  display: flex;
  font-size: 12px;
  position: relative;
  left: ;
}


