@font-face {
  font-family: 'goorm-sans-bold';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408@1.0/goorm-sans-bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

.slider {
  display: flex;
  align-items: center;
  margin: 0 auto;
  overflow: hidden;
  margin-top: 10px;
}

.sliderImagesContainer {
  display: flex;
  text-align: center;
}

.sliderImage img {
  width: 70%;
}

.prev, .next {
    cursor: pointer;
    width: 20px;
    color: black;
    font-weight: bold;
    font-size: 16px;
    border: none;
    background-color: rgba(0, 0, 0, 0.4);
}

.sliderContainer{
  width: 1000px;
  margin: 0 auto;
  margin-top: 60px;
}
.sliderContainer h3 {
  font-family: 'goorm-sans-bold';
  display: flex;
  font-size: 20px;
  position: relative;
}


