
.bannerDiv .images {
  display: flex;
  align-items: center;
  width: 90%;
  height: 300px;
  margin: 0 auto;
}

/* .prevClick, .nextClick {
  cursor: pointer;
  padding: 16px;
  color: black;
  font-weight: bold;
  font-size: 28px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

.nextClick {
  right: 0;
} */



