font-face {
  font-family: 'goorm-sans-bold';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408@1.0/goorm-sans-bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

.allProductBox1 {
  width: 1000px;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  font-family: 'goorm-sans-bold';
}

.allProductBox1 > h2 {
  text-align: center;
}

.allProductButtonList1 {
  display: flex;
  justify-content: space-around;
  width: 300px;
  height: 20px;
  flex-direction: row;
  margin: 0 auto;
  list-style: none;
  margin-bottom: 40px;
}

.allProductButtonList1 button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
}
.allProductButtonList1 button:hover {
  cursor: pointer;
  border-bottom: 3px solid #DFF5FF;
}

.allProductButtonList1 button:active {
  color: #1478FF;
}

.allProductSelectBtn1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  font-size: 11px;
  margin-bottom: 5px;
  width: 220px;
}

.allProductSelectBtn1 li > button {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  font-family: 'Pretendard-Regular';
  font-size: 1rem;
}

.allProductSelectBtn1 li > button:active {
  color: #1478FF;
}

.itemContainer1 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: right;
}

/* List */




.allProductContain1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 23%;
  height: 250px;
  margin: 20px auto;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

.allProductImage1 {
  width: 100%;
  border-radius: 8px;
}


.allProductHoverBtn1{
  display: flex;
  flex-direction: column;
  gap: 15px;
  position: relative;
  top: -170px;
  right: -70px;
}

.allProductHoverBtn1 > button {
  padding: 5px;
  border: none;
  color: #1478FF;
  border-radius: 5px;
  cursor: pointer;
  background-color: #ffffff;
  font-family: 'Pretendard-Regular';
  font-weight: 600;
}

.allProductHoverBtn1 > button:hover {
  background-color: #67C6E3;
  color: #fff;
}



.productPagination1 {
  display: flex;
  gap: 6px;
  margin-top: 15px;
}

.productPageLink1 {
  border: none;
  border-radius: 3px;
  width: 50px;
  height: 50px;
  background-color: white;
  border: 1px solid #eee;
  transition: background-color 0.3s ease, color 0.3s ease;
  cursor: pointer;
}

.PageLinkdirection1{
  border: none;
  border-radius: 3px;
  width: 70px;
  height: 50px;
  background-color: white;
  transition: background-color 0.3s ease, color 0.3s ease;
  border: 1px solid #eee;
  cursor: pointer;
}

.productPagination1 .pageItem1.active .PageLink1 {
  background-color: #67C6E3;
  color: white;
  border-color: #67C6E3;
}










.modalOverlay{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
}


.modalContainerCart{
  position: relative;
  background: white;
  padding: 20px;
  max-width: 500px;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 500px;
  height: 279px;
}


.modalButtonContainer1{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}


.modalButtonContainer1 > button{
  background-color: #67C6E3;
  color: white;
  border: none;
  border-radius: 5px;
  width: 110px;
  height: 30px;
}


.modalButtonContainer1 button:hover{
  background-color: #1478FF;
}


.modalImages1{
  display: flex;
  text-align: center;
}


.relatedModalImage1 img{
  width: 65%;
}