@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

.searchContainer {
  display: flex;
  justify-content: space-around;
  width: 400px;
  height: 150px;
  overflow: hidden;
  margin: 0 auto;
}

.searchContainer ul {
  list-style: none;
  width: 1000px;
  color: #000;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.line {
  height: 150px;
  border: 1.5px solid #67C6E3;
  border-radius: 10px;
}

.currentSearch {
  font-family: 'Pretendard-Regular';
  text-align: center;
  width: 200px;

}

.popularSearch {
  font-family: 'Pretendard-Regular';
  text-align: center;
  width: 200px;
}


@media (max-width: 500px) {
  .line{
    height: 150px;
  }
  .currentSearch,.popularSearch {
    font-size: 12px;
  }
}
