.searchContainer {
  display: flex;
  justify-content: space-around;
  width: 38%;
  height: 200px;
  overflow: hidden;
  margin: 0 auto;

}

.searchContainer ul {
  list-style: none;
  width: 100%;
  color: #000;
}

.searchContainer ul {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.line {
  height: 200px;
  border: 1.5px solid #555f57;
  border-radius: 10px;
}

.currentSearch {
  text-align: center;
  width: 200px;

}

.popularSearch {
  text-align: center;
  width: 200px;
}


@media (max-width: 500px) {
  .line{
    height: 150px;
  }
  .currentSearch,.popularSearch {
    font-size: 12px;
  }
  
}

