@font-face {
  font-family: 'goorm-sans-bold';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408@1.0/goorm-sans-bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

.SearchAppInputDiv {
  display: flex;
  justify-content: space-around;
  width: 400px;
  height: 40px;
  margin: 0 auto;
  border: 3px solid #555f57;
  border-radius: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.SearchAppInputDiv:active {
  border: 3px solid #D7DDD2;
}

.SearchAppInput {
  font-family: 'goorm-sans-bold';
  font-size: 15px;
  border: none;
  outline: none;
  background-color: rgba(0, 0, 0, 0);
  margin-left: 35px;
  width: 80%;
}

.searchButton {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  margin-right: 10px;
  
}

.currentsearchList {
  display: flex;
  justify-content: space-between;
}

.currentsearchList button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  font-size: small;
}

@media (max-width: 500px) {
  .SearchAppInputDiv{
    border: 2px solid #555f57;
    height: 20px;
  }
  .SearchAppInputDiv:active{
    border: 2px solid #D7DDD2;
  }
  .SearchAppInput{
    font-size: 10px;
  } 
  .searchButton{
    font-size: 7px;
  }
}