.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  margin-top: 70px;
}

.searchForm {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 40%;
  height: 30px;
  border: 2px solid #D7DDD2;
  border-radius: 20px;
}

.searchForm .searchInput{
  width: 80%;
  font-size: 12px;
  border: none;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 5px;
}

.searchInput:focus {

}

.searchForm button {
  right: 0;
  cursor: pointer;
  border: none;
  background-color: rgba(0, 0, 0, 0);
}

.searchContainer {
  display: flex;
  flex-direction: row;
  width: 50%;
  height: 100%;
}


.searchContainer .currentSearch,.popularSearch {
  text-align: center;
  margin: 0 auto;
  padding: 10px;
  width: 100%;
}

.line {
  margin-top: 20px;
  border: 2px solid #D7DDD2;
  height: 150px;
  overflow: hidden;
}

.searchContainer ul {
  margin-top: 15px;
}
.searchContainer li {
  list-style: none;
  margin-bottom: 10px;
  margin-left: 10px;
  text-align: left;
}

.searchContainer h5 {
  display: flex;
  justify-content: center;
  align-items: center; 
}