.header{
  margin-bottom: 0px;
}

.headerFlexBox{
  display: flex;
  flex-direction: column;
}

.button1 {
  color: black;
  margin-right: 15%;  
}





.logo {
  font-size: 40px;
  margin-right: 69%;
}


.logo :hover{
  color: black;
}


.button2 {
  display: flex;
  flex-direction: row;
  justify-content: end;
  margin-right: 15%;
}







.button2 input {
  
  border: 1px solid black;
  size: 50%;
}

