.header{
  margin-bottom: 1%;
  padding-right: 0;
}

.headerFlexBox{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1000px;
  margin: 0 auto ;
  padding-right: 0;
}



.buttonFlexBox{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 125px;
}


.button1 {
  color: gray;
  margin-right: 0;
  display: flex;
  justify-content: space-between;
}




.button2 {
  width: 193px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 0;
}

.button2 input {
  border: 1px solid black;
  
}

.logo{
  margin-right: 50%;

}


.logo p{
  font-size: 40px;
  
  
}



.logo :hover{
  color: black;
}






