.Sidecontainer{
  display: flex;
  justify-content: space-between;
  font-size: 10px;
}

.sideNav {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width:50px;
  height: 100%;
  position: fixed;
  right: 0;
  background-color: #DFF5FF;
  z-index: 100;
  padding-top: 10px;
  box-shadow: 0px 3px 7px #a4a3a3;
}


.closeIcon {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  margin-top: 10px;
  
}

.pluseIcon {
  position: fixed;
  right: 60px;
  top: 50%;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  color: #a4a3a3;
  z-index: 19;
  transform: scale(-10px);
}

.sideNav li {
  padding: 5px;
  list-style: none;
  cursor: pointer;
  box-sizing: border-box;
  font-weight: bold;
}

.closeIcon:hover, .pluseIcon:hover, .sideNav li:hover {
  color: #a4a3a3;
}



.sideNav ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  text-align: center;
}

@media (max-width: 500px) {
  .sideNav li{
    font-size: 10px;
    width: 100px;
  }
}
