*{
  margin: 0;
  padding: 0;
}

.sideNav {
  display: flex;
  float: right;
  width:50px;
  height: ;
  background-color: #D7DDD2;
  z-index: 20;
}

.sideNav ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  text-align: center;
}

.sideNav ul li {
  padding: 5px;
  display: flex;
  align-items: center;
  text-align: center;
  border-bottom: 1px solid #ccc;
  margin: 0 auto;
}
