.subNavBox ul {
  width: 60%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
  font-size: 14px;
  list-style-type: none;
}



a {
  text-decoration: none;
  color: black;
}

@media (max-width: 800px) {
  li{
    font-size: 8px;
  }
}

.subNavBox{
  display: flex;
  background-color: #e9ece7;
  height: 60px;
}