.reservesContainer{
  margin-top: 150px;
  margin-left: 600px;
  margin-right: 500px;
  width: 450px;
  height: 500px;
  border: 1px solid gray;
  
}




.reservesContainer h3 {
  margin-top: 7px;
  margin-left: 7px;
}


.reservesContainer p {
  text-align: start;
  margin-left: 4px;
}