.productContainer{
  display: flex;
  flex-direction: wrap;
  flex-direction: row;
  margin-left: 10%;
  margin-right: 10%;
}


.productImage{
  padding: 0px;
  width: 75%;
}

.productImage img{
  width: 50%;
  margin: 0px;
}


.productData{
  margin: 0;
  width: 24%;
  display: flex;
  flex-direction: column;
}

.productData h3{
  background-color: #b5bbb0;
}


.option {
  width: 100%;
}



.button{
  display: flex;
  justify-content: space-around;
}