.relatedItem{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: relative;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  margin-top: 10px;
}

.prevButton, .nextButton{
  display: flex;
  cursor: pointer;
  width: auto;
  padding: 10px;
  margin-top: -8px;
  color: black;
  font-weight: bold;
  font-size: 16px;
  user-select: none;
  border: none;
  background-color: rgba(0, 0, 0, 0);
}

.relatedItemImagesContainer{
  display: flex;
  text-align: center;
}

.relatedItemImage img{
  width: 65%;
}


